{# 
    nav: Nav
    side: Side
    main: Main
    sub_content: Sub Content
    footer: Footer 
#}

<nav id="austinb_nav">
    <div id="austinb_nav_inner">
        {{ page.nav }}
    </div>
</nav>

<main>

    <div id="austinb_main">
        <div id="austinb_side">
            {{ page.side }}
        </div>
        <div id="austinb_content">
            {{ page.content }}
        </div>
    </div>

    <div id="austinb_sub_content">
        {{ page.sub_content }}
    </div>

</main>

<footer id="austinb_footer">
    {{ page.footer }}
</footer>